{% extends "base.html" %}
{% load static %}

{% block header_refrence %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock  %}

{% block title %}
This is My blog!
{% endblock  %}

{% block content %} 



    <section id="wellcome">
        <header>
            <img src="{% static "blog/images/01.png"%}" alt="Toplearn - Author of this page">
            <h2>Toplearn Blog Project</h2>
        </header>
        <p>Hi i am mohamad the teacher of Toplearn</p>
    </section>

    <section id="latest-post">
        
        <h1>Latest Posts</h1>
        
        <ul>
            {% for post in latest_post %}
                {% include "blog/includes/post.html" %}
            {% endfor%}
       
        </ul>
        
    
    </section>
    <section id="about">
        <p> about me and learning django</p>
    </section>

{% endblock  %}

